
*{
    box-sizing: border-box;
    font-family: 'Open Sans'
}

.info {
    background-color: #F1F1F1;
    color: #000;
    font-size: 12px;
    padding: .12rem 0;
   
}
.info .infoList{
    vertical-align: center;
    margin: 0 0 0 21%;
    padding: .2rem 0;
    list-style: none;
    display: inline-block;
}

.info ul li {   
    display: inline;
    list-style: none;
    margin-right: 1rem;
}

.info ul li img{
    width: 15px;
}

.info .phoneNumber{
    margin-right: 4rem;
}

.info .options{
    margin-left: 21rem;
    list-style: none;
    display: inline-block;
}

.info .options li{
    margin-right: 3rem;

}

a{
    color: #000;
    text-decoration: none;
}

a:hover{
    color: rgb(126, 126, 126);
    text-decoration: none;
}

main{
    margin: 0 0 0 21%;
    display: inline-flex;
    align-items: center;
    margin-top: 2rem;
}

main #logo{
    width: 139px;
    margin-right: 6rem;
}

.search{
    border: 2px solid #DFDFDF;
    border-radius: 5px;
    padding: 0 1rem;
    margin-right: 4.5rem;
}

.search input{
    border: none;
    width: 35rem;
    height: 2.8rem;
   
}

.search input:focus, .search button:focus{
    outline: none;
}

.search button{
    border: none;
    background-color: transparent;
}


.search button img{
    width: 12px;
}

.dropdown:hover .dropdown-menu {
    display: block;
    position: absolute;
    transform: translate3d(0, 27px, 0px); 
    top: 0px;
    left: 0px;
    will-change: transform;
}

.dropdown a{
    font-weight: 600;
}
.dropdown a:focus{
    border: none !important;
    outline: none;
}
.dropdown .dropdown-toggle::after{
    content : url('../public/chevron-down.svg');
    border: none;
}

.dropdown-menu{
    right: -2rem !important;
    left: auto !important;
    border: 2px solid #00000033;
    text-align: center;
    padding: 1.5rem .2rem;
    border-radius: 5px;
}

.dropdown-menu::before{
    content: "";
    position: absolute;
    padding: 4px;
    box-shadow: 1.5px -1.5px 0 .5px #00000033 inset;
    border: solid transparent;
    border-width: 0 0 2px 2px;
    transform: rotate(135deg);
    top: -8px;
    right: 30px;
    background: #F1F1F1;
  
}

.dropdown-menu li :hover{
    background-color: #F1F1F1;
}

.dropdown-menu li a:focus{
    font-weight: 800;
    color: #000;
}


.shopcart{
    margin-left: 4.5rem;
    position: relative;
    
}

.shopcart a img{
    width: 1.7rem;
}

.shopcart .contentItem{
    background-color: black;
    color: #fff;
    border-radius: 50%;
}

.shopcart::after{
    content: "+50";
    font-size: 12px;
    position: absolute;
    border-radius: 50%;
    width: 27px;
    height: 27px;
    padding: 4px 0 0 2px;
    background-color: #000;
    color: #fff;
    top: 10px;
    right: -12px;

}